* {
    text-decoration: none;
    list-style: none;
}

.section-1-bg {
    background: url("../images/backgrounds/section-1(header).jpg");
    height: 100vh;
    width: 100%;
}

.nav-top {
    display: flex;
    justify-content: center;
    height: 90px;
    background-color: rgba(73, 71, 63, 0.6);
    width: 100%;
    align-items: center;
}

.nav-top-items {
    display: flex;
    justify-content: center;
    margin: 2.2rem;
    align-items: center;
}

.nav-top-item {
    font-weight: 600;
    margin: 1rem;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    align-items: center;
    color: white;
    font-size: 15px;
    transition: .3s;
}

.nav-top-item-logo {
    margin-right: 230px;
}

.nav-top-item-search-logo {
    margin-left: 1rem;
}

.nav-top-item:hover {
    color: lightseagreen;
}

.green-hovered {
    color: lightseagreen;
}

.header {
    text-align: center;
    margin-top: 14rem;
}

.header-title {
    margin-bottom: 1rem;
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.header-under-title-first {

    margin-bottom: 1rem;
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    font-size: 79px;
    font-weight: 700;
    line-height: 74px;
    text-align: center;
    text-transform: uppercase;
}

.header-under-title-second {
    font-family: Montserrat, sans-serif;
    font-size: 37px;
    color: darkgray;
    text-align: center;
    margin-bottom: 110px;
}

.green-text {
    color: lightseagreen;
}

.header-buttons {
    display: flex;
    justify-content: center;
    text-align: center;
}

.header-button-1 {
    font-family: Montserrat, sans-serif;
    display: flex;
    border-radius: 4px;
    background-color: #18cfab;
    width: 166px;
    height: 61px;
    color: white;
    font-weight: 700;
    font-size: 15px;
    align-items: center;
    text-align: center;
    margin-right: 1rem;
    box-sizing: border-box;

}

.header-button-2 {
    font-family: Montserrat, sans-serif;
    display: flex;
    align-items: center;
    border-radius: 4px;
    background-color: #00cbf6;
    width: 166px;
    height: 61px;
    color: white;
    font-weight: 700;
    font-size: 15px;
    box-sizing: border-box;
}

.text-in-button {
    text-align: center;
    padding-left: 1.4rem;
}

.header-lines {
    display: flex;
    justify-content: center;
    align-items: center;
}

.m-image-form {
    margin-bottom: 3rem;
}

.line-lightgreen {
    display: flex;
    background-color: #18cfab;
    width: 480px;
    height: 7px;
}

.line-white {
    display: flex;
    background-color: #ffffff;
    width: 480px;
    height: 7px;
}

.header-options {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-option-1 {
    background-color: #1c2a33;
    width: 480px;
    height: 374px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Montserrat, sans-serif;
    color: #18cfab;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}

.header-option-2 {
    background-color: #18cfab;
    width: 480px;
    height: 374px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat, sans-serif;
    color: gray;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}

.header-option-3 {
    background-color: #1c2a33;
    width: 480px;
    height: 374px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Montserrat, sans-serif;
    color: #18cfab;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}

.header-option-4 {
    background-color: #18cfab;
    width: 480px;
    height: 374px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat, sans-serif;
    color: gray;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}

.services-title {
    margin-top: 5rem;
    font-family: Montserrat, sans-serif;
    color: #4e4e4e;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
}

.services-lines-after-1 {
    margin-top: 2rem;
    text-align: center;
}

.services-lines-after-2 {
    margin-left: 1.3rem;
    margin-bottom: 2rem;
    text-align: center;
}

.second-section {
    background-image: url("../images/backgrounds/purchase_block_bg.png");
    height: 470px;
    background-size: cover;
    background-position: center;
}

.second-section-title {
    padding-top: 8rem;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    color: #18cfab;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;

}